*~
.#*
.git
*#

# os x stuff
*Thumbs.db*
*.DS_Store

# Build artifacts
build
out
target
project
.bsp

# Eclipse files
.classpath
.project
.settings

# Intellij IDEA files
.idea/
*.ipr
*.iws
*.iml
*.idea
workspace.xml
atlassian-ide-plugin.xml

# Metals
.bloop
.metals

# gradle
.gradle

# code review
codereview.rc

# local settings
**/gradle.properties
.java-version

# Local SBT options
.sbtopts

# Test Cartridge cluster
.rocks

# Hive
metastore_db/
derby.log
spark-warehouse/
tarantoolTest/
